<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd
        http://www.springframework.org/schema/tx
        http://www.springframework.org/schema/tx/spring-tx.xsd
        ">

    <!--配置数据库连接池-->
    <bean class="com.alibaba.druid.pool.DruidDataSource" id="dataSource" lazy-init="false">
        <property name="driverClassName" value="com.mysql.jdbc.Driver"/>
        <property name="url" value="jdbc:mysql:///student_score_system?useUnicode=true&amp;characterEncoding=UTF-8&amp;serverTimezone=GMT%2B8"/>
        <property name="username" value="root" />
        <property name="password" value="root" />
    </bean>

    <!--配置SqlSessionFactoryBean-->
    <bean class="org.mybatis.spring.SqlSessionFactoryBean" id="factoryBean" lazy-init="false">
        <!--指定DataSource数据库连接池-->
        <property name="dataSource" ref="dataSource" />
        <!--给实体类设置别名-->
        <property name="typeAliasesPackage" value="com.prince.entity" />
        <!--设置mapper.xml的文件路径-->
        <property name="mapperLocations">
            <list>
                <value>mapper/*Mapper.xml</value>
            </list>
        </property>
    </bean>

    <!--配置MapperScannerConfigurer-->
    <bean class="org.mybatis.spring.mapper.MapperScannerConfigurer" id="configurer" lazy-init="false">
        <!--SqlSessionFactoryBean-->
        <property name="sqlSessionFactoryBeanName" value="factoryBean" />
        <!--指定Dao接口所在的包-->
        <property name="basePackage" value="com.prince.dao" />
    </bean>

    <bean class="org.springframework.jdbc.datasource.DataSourceTransactionManager" id="dataSourceTransactionManager" lazy-init="false">
        <!--传入dataSource数据库连接池-->
        <property name="dataSource" ref="dataSource"/>
    </bean>

    <!--组装切面-->
    <tx:annotation-driven transaction-manager="dataSourceTransactionManager" proxy-target-class="true" />

    <context:component-scan base-package="com.prince"/>

    <bean id="adminService" class="com.prince.service.impl.AdminServiceImpl">
        <property name="adminMapper" ref="adminMapper" />
    </bean>

    <bean class="com.prince.service.impl.CourseServiceImpl" id="courseService">
        <property name="courseMapper" ref="courseMapper" />
    </bean>

    <bean class="com.prince.service.impl.SCServiceImpl" id="scService">
        <property name="scMapper" ref="SCMapper"/>
    </bean>

    <bean class="com.prince.service.impl.StudentServiceImpl" id="studentService">
        <property name="studentMapper" ref="studentMapper" />
    </bean>

    <bean class="com.prince.service.impl.TeacherServiceImpl" id="teacherService">
        <property name="teacherMapper" ref="teacherMapper" />
    </bean>


</beans>